body{
    background-color: black;
}
h1{
    text-transform: uppercase;
}

.poster{

    text-align: center;
    margin-left: 25%;
    margin-top: 100px;
    width: 50%;
    color: white;
    font-family: 'Libre Baskerville', serif;

}
.Motivation{
    border: 5px solid white;
    width: 100%;
}